form(role='form')
    .form-group
        .input-group
            input.form-control(type='text', ng-model='mars.search', placeholder='{{ mars.placeholder }}')
            span.input-group-btn
                button.btn.btn-primary(type='submit') {{ mars.action }}
